@media all and (max-width:670px){
    *{
        box-sizing: border-box;
    }

    body{
       width: 100%;
       margin: 0 auto;
    }

    .container{
        width: 90%;
        margin: 0 auto;
    }

/*-----------------------------------------header------------------------------------------------*/

    .header{
        height: 70px;
    }

    .header-right{
        display: none;
    }

    .menu-icon {
        color: black;
        float: right;
        font-size: 25px;
        padding: 21px 30px;
    }



/*-----------------------------------------work---------------------------------------------------*/




    .detail-works{
        flex-direction: column;
    }

    










/*-----------------------------------------footer--------------------------------------------------*/
    footer{
        text-align: center;
        /* margin-left: 60px; */
    }





}